<footer class="footer footer-gray hidden-xs">
  <div class="container">
    <div class="col-md-12 col-sm-6 col-xs-6 footer__column">
      <ul class="footer__inf-list">
        <li class="footer__inf-item">
          <a class="footer__inf-link" target="_blank" href="http://support.microsoft.com/contactus/?ws=mscom">
            <span class="footer__inf-underline">Контактная информация</span>
          </a>
        </li>
        <li class="footer__inf-item">
          <a class="footer__inf-link" target="_blank" href="http://privacy.microsoft.com/ru-ru/default.mspx">
            <span class="footer__inf-underline">Конфиденциальность</span>
          </a>
        </li>
        <li class="footer__inf-item">
          <a class="footer__inf-link" target="_blank" href="http://www.microsoft.com/rus/info/copyright/">
            <span class="footer__inf-underline">Условия использования</span>
          </a>
        </li>
        <li class="footer__inf-item">
          <a class="footer__inf-link" target="_blank" href="http://www.microsoft.com/library/toolbar/3.0/trademarks/ru-ru.mspx">
            <span class="footer__inf-underline">Товарные знаки</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-6 footer__column">
      <ul class="footer__ad-list">
        <li class="footer__ad-item">
          <a class="footer__ad-link" target="_blank" href="http://msdn.microsoft.com/ru-ru/ff380143">
            <img src="/images/footer-w.png" alt="">
          </a>
        </li>
        <li class="footer__ad-item">
          <a class="footer__ad-link" target="_blank" href="http://msdn.microsoft.com/ru-ru/hh916378">
            <img src="/images/footer-vs.png" alt="">
          </a>
        </li>
        <li class="footer__ad-item">
          <a class="footer__ad-link" target="_blank" href="http://www.azurehub.ru">
            <img src="/images/footer-azure.png" alt="">
          </a>
        </li>
        <li class="footer__ad-item">
          <a class="footer__ad-link" target="_blank" href="http://msdn.microsoft.com/ru-ru/ff380145">
            <img src="/images/footer-gd.png" alt="">
          </a>
        </li>
        <li class="footer__ad-item">
          <a class="footer__ad-link" target="_blank" href="http://www.microsoft.com/ru-ru/default.aspx">
            <img src="/images/footer-mic.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>